body {

  background: #eeeade;
}
.container {
  width: 640px;
  height: 640px;
  margin: 5px;
  float:left;
  position: absolute;
}
.control {
width:390px;
height: 630px;
border: 5px solid #7f727b;
position: fixed;
left: 660px;
background:linear-gradient(#7f727b, #7f727b);
background-color:#ccc;
border-radius: 10px;
}

.titlelogo {
position: relative;
top: 30px;
left: 25px;
width:330px;
height: 300px;
background-color: #544657;
border-radius: 20px;
  -moz-box-shadow:     inset 0px 0px 10px #7f727b;
  -webkit-box-shadow:  inset 0px 0px 10px #544657;
  box-shadow:          inset 0px 0px 10px #544657;
  border: 2px solid black;


}
/* #f0731e
font-family: 'Bungee', cursive;
font-family: 'Bungee Hairline', cursive;

*/
.title {
  font-family: 'Bungee', cursive;
  position: relative;
  left: 30px;
  top: -10px;
  color: white;
  font-weight: bold;
  color:white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  text-stroke

}
