body {

  background: #eeeade;
}
.container {
  width: 640px;
  height: 640px;
  margin: 5px;
  float:left;
  position: absolute;
}
.control {
width:390px;
height: 630px;
border: 5px solid #7f727b;
position: fixed;
left: 660px;
background:linear-gradient(#544657, #544657);
border-radius: 10px;
}

.titlelogo {
position: relative;
top: 30px;
margin: 20px 0px;
left: 25px;
width:330px;
height: 65px;
background-color: #7f727b;
border-radius: 20px;
  -moz-box-shadow:     inset 0px 0px 10px #7f727b;
  -webkit-box-shadow:  inset 0px 0px 10px #544657;
  box-shadow:          inset 0px 0px 10px #544657;
  border: 2px solid black;


}
/* #f0731e
font-family: 'Bungee', cursive;
font-family: 'Bungee Hairline', cursive;

*/
.splash {
  position: 'relative';
  width: '458px';
  height: '458px';
  margin: '90px';
  border: '2px solid black';
  z-Index: '5';
  background-color: 'grey';
}




.title {
  font-family: 'Bungee', cursive;
  position: relative;
  left: 30px;
  top: -10px;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  text-stroke
}


.redpulse {
width: 32px;
    height: 32px;
    background-image: url("images/truetiles.png");


            animation: redpulse 2s steps(6) infinite;
}


@keyframes redpulse {
   from { background-position:    0px -160px; }
     to { background-position: -192px -160px; }
}
.endsec {
width: 32px;
    height: 32px;
    background-image: url("images/truetiles.png");


            animation: endsec 1s steps(7) infinite;
}


@keyframes endsec {
   from { background-position:    0px -96px; }
     to { background-position: -224px -96px; }
}

.heart {
width: 32px;
    height: 32px;
    background-image: url("images/itemsprite.png");


            animation: heart 0.6s steps(5) infinite;
}


@keyframes heart {
   from { background-position:    0px -32px; }
     to { background-position: -160px -32px; }
}

.bluegem {
width: 32px;
    height: 32px;
    background-image: url("images/itemsprite.png");


            animation: bluegem 0.6s steps(4) infinite;
}


@keyframes bluegem {
   from { background-position:    0px 0px; }
     to { background-position: -128px 0px; }
}

.player {
width: 32px;
    height: 32px;
    background-image: url("images/truetiles.png");


            animation: player 0.8s steps(4) infinite;
}


@keyframes player {
   from { background-position:    0px -192px; }
     to { background-position: -128px -192px; }
}

.playerup {
width: 32px;
    height: 32px;
    background-image: url("images/truetiles.png");


            animation: playerup 0.8s steps(4) infinite;
}


@keyframes playerup {
   from { background-position:    0px -224px; }
     to { background-position: -128px -224px; }
}

.playerdown {
width: 32px;
    height: 32px;
    background-image: url("images/truetiles.png");


            animation: playerdown 0.8s steps(4) infinite;
}


@keyframes playerdown {
   from { background-position:    0px -286px; }
     to { background-position: -128px -286px; }
}

.playerleft {
width: 32px;
    height: 32px;
    background-image: url("images/truetiles.png");


            animation: playerleft 0.8s steps(4) infinite;
}


@keyframes playerleft {
   from { background-position:    0px -256px; }
     to { background-position: -128px -256px; }
}

.playerright {
width: 32px;
    height: 32px;
    background-image: url("images/truetiles.png");


            animation: playerleft 0.8s steps(4) infinite;
}


@keyframes playerright {
   from { background-position:    0px -192px; }
     to { background-position: -128px -192px; }
}
